/* Header */
.header {
    background-color: #398Af5;
    padding: 3% 20%;
    text-align: center;
    color: white;
    
}

h1 {
    font-size: larger;
}
/* About Us Description */
.about-us-desc {
    width: 25%;
    margin: 0 auto;
    padding-top: 2rem;
}

/* About Us Image */
.about-us-img {
    width: 20%;
    display: block;
    margin: 2% auto;
}