.card-container {
  width: 374px;
  height: 139px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin: 0px 10px 15px 20px;
}

.image-container {
  flex: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  height: 30%;
}

.card-content {
  flex: 75%;
  margin: 5px 5px 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title h2 {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #076df2;
}

.card-title {
  margin-bottom: 5px;
}

.card-body p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.005em;
  text-align: left;
}

/*Responsiveness for Mobile - L*/
@media only screen and (max-width: 400px) {
  .card-container {
    width: 270px;
    height: 145px;
  }

  .card-title h2 {
    font-size: 15px;
  }

  .card-body p {
    font-size: 12px;
  }

  .image-container img {
    height: 20%;
  }
}
