/*Font imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.contact-us-body {
  height: 100vh;
  overflow-y: hidden;

  box-sizing: border-box;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

.contact-us-banner {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  background-color: #398af5;
  font-family: "Roboto", sans-serif;

  font-size: 35px;
  height: 110px;
  width: 100%;
}

.contact-us-text {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 24px;
  width: 480px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 10px;
}

.contact-us-email {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #076df2;
  margin-bottom: 10px;
}

.contact-us-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 360px;
}

.contact-us-image img{
  height: 280px;
}


@media screen and (max-width: 500px) {
  .contact-us-text {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 22px;
    width: 300px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .contact-us-email {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #076df2;
    margin-bottom: 6px;
  }

  .contact-us-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 230px;
  }

  .contact-us-image img{
    height: 220px;
  }
  
  
}