.dashboardFormContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.dashboardFormContainer {
  max-width: 20%;
  margin-top: 0;
  border-radius: 10px;
  box-shadow: 0px 5px 2px #d4d4d4;
  top: 2vh;
  left: 56%;
  padding-bottom: 1rem;
}

.dashboardFormContainer {
  font-family: 'Poppins', sans-serif;
}

.dashboardFormBody {
  padding: 1rem 0;
}

.dashboardFormHeader {
  font-size: 16px;
  border-bottom: 1px solid #959595;
  padding: 4px;
  margin: 10px 15px 0px;
}

.dashboardFormBody {
  padding: 4px;
  margin: 0 15px;
}

.dashboardFormContainer a {
  text-decoration: underline;
  color: rgb(50, 130, 250);
}

.dashboardFormContainer a:hover {
  color: #e9a800;
}