.dashboard-info {
  background: #fff;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  height: 184px;
  display: flex;
  flex-direction: column;
}

.editProfile {
}

.editProfile:hover {
}

.editProfile:focus {
  outline: 0;
}

.editImage {
}

.popup {
    z-index: 2;
    background-color:rgba(252, 252, 252, 0.98)!important;
    max-height: 80%;
    max-width: 75%;
    color: black;
    border-radius: 12px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.06);
    margin-right: 2%!important;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
  }
  

.edit-avi {
  background: #fff;
  position: absolute;
  margin-left: 154px;
  margin-top: 164px;
  border-radius: 20px;
  padding-top: 4px;
  border: 0;
  height: 30px;
  width: 30px;
  box-shadow: 0px 2px 2px #d4d4d4;
  cursor: pointer;
}

.edit-avi:hover {
  background: #fff4d9;
}

.edit-avi:focus {
  outline-color: #e9a800;
  outline-width: 1px;
}

.img {
  height: 10%;
  width: 10%;
  margin-left: 10px;
  margin-top: 5%;
  margin-bottom: 0;
}

.profile-info-table {
}

.profile-field {
}

.profile-field-entry {}
