.dashboard-info {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: 300px;
  width: 500px;

  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  background: #fff;

  font-family: "Poppins", sans-serif;
  letter-spacing: 0.01em;
  font-size: 16px;
  line-height: 24px;
}

.info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  margin-top: 6px;
}

.info-header img {
  width: 87px;
  height: 85px;
  margin-left: 5px;
  padding: 2px;
}

.username-email {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.email {
  font-size: 12px;
}

.info-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2px;
  margin-left: 20px;
  padding: 10px;
  height: 50%;
  font-size: 14px;
  /* overflow-y: scroll; */
}

.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 2px;
  margin-right: 6px;
  margin-bottom: 5px;
}
.edit-profile button {
  width: auto;
  font-size: 14px;
  line-height: 18px;

  font-family: "Poppins", sans-serif;
  color: #1970e1;
  background-color: transparent;
  border: none;
  padding: 7px;
}

.edit-profile button:hover {
  background-color: #eeeeee;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .dashboard-info {
    width: 250px;
    height: 140px;
  }
}






/* still need to work on this styling */
.popup {
  z-index: 2;
  background-color: rgba(252, 252, 252, 0.98) !important;
  max-height: 80%;
  max-width: 75%;
  color: black;
  border-radius: 12px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.06);
  margin-right: 2% !important;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-avi {
  background: #fff;
  position: absolute;
  margin-left: 154px;
  margin-top: 164px;
  border-radius: 20px;
  padding-top: 4px;
  border: 0;
  height: 30px;
  width: 30px;
  box-shadow: 0px 2px 2px #d4d4d4;
  cursor: pointer;
}

.edit-avi:hover {
  background: #fff4d9;
}

.edit-avi:focus {
  outline-color: #e9a800;
  outline-width: 1px;
}
