.dashboard-info {
  position: absolute;
  display: inline-block;
  background: #fff;
  width: 30%;
  margin-left: 25%;
  height: auto;
  margin-top: 125px;
  border-radius: 10px;
  box-shadow: 0px 5px 2px #d4d4d4;
  padding-bottom: 20px;
}

.editProfile {
  padding-right: 8px;
  color: white;
  font-weight: 500;
  font-size: 100%;
  float: right;
  margin-right: 35px;
  margin-top: 35px;
  width: 63px;
  height: 29px;
  left: 548px;
  top: 543px;
  background: #e9a800;
  border: 0;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  text-align: right;
  cursor: pointer;
}

.editProfile:hover {
  background: #e9b00d;
}

.editProfile:focus {
  outline: 0;
}

.editImage {
  float: left;
  margin-top: 4px;
  margin-left: 3px;
}

.popup {
    z-index: 2;
    background-color:rgba(252, 252, 252, 0.98)!important;
    max-height: 80%;
    max-width: 75%;
    color: black;
    border-radius: 12px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.06);
    margin-right: 2%!important;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
  }
  

.edit-avi {
  background: #fff;
  position: absolute;
  margin-left: 154px;
  margin-top: 164px;
  border-radius: 20px;
  padding-top: 4px;
  border: 0;
  height: 30px;
  width: 30px;
  box-shadow: 0px 2px 2px #d4d4d4;
  cursor: pointer;
}

.edit-avi:hover {
  background: #fff4d9;
}

.edit-avi:focus {
  outline-color: #e9a800;
  outline-width: 1px;
}

.img {
  height: 203px;
  width: 203px;
  margin-left: 10px;
  margin-top: 5%;
  margin-bottom: 0;
}

.profile-info-table {
  margin-left: 25px;
}

.profile-field {
  font-size: 80%;
  font-weight: 500;
  padding: 10px;
}

.profile-field-entry {
  font-size: 80%;
  font-weight: 300;
  padding: 10px;
}
