.dashboardFormContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 30%;
  height: auto;
  margin-top: 0;
  border-radius: 10px;
  box-shadow: 0px 5px 2px #d4d4d4;
  top: 10vh;
  left: 65%;
  padding: 20px 40px;
  width: 100%;
  margin-top: 250px;
}

.dashboardFormHeader h1 {
  font-weight: 600;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 10px;
  font-size: 26px;
}

.dashboardFormBody {
  padding: 1rem 0;
}

.dashboardFormContainer{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 24px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 5px 2px #d4d4d4;

  width: 320px;
  height: 140px;

  border-radius: 6px;
}

.dashboardFormHeader {
  font-size: 16px;
  border-bottom: 1px solid #959595;
  padding: 4px;
  margin: 10px 15px 0px;
}

.dashboardFormBody {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 5px 2px #d4d4d4;

  width: 320px;
  height: 140px;

  border-radius: 6px;
}

.dashboardFormHeader {
  font-size: 16px;
  border-bottom: 1px solid #959595;
  padding: 4px;
  margin: 10px 15px 0px;
}

.dashboardFormBody {
  padding: 4px;
  margin: 0 15px;
}

.dashboardFormContainer a {
  text-decoration: underline;
  color: rgb(50, 130, 250);
}

.dashboardFormContainer a:hover {
  color: #e9a800;
}

@media screen and (max-width: 800px) {
  .dashboardFormContainer {
    width: 250px;
    height: 140px;
  }
}