.dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #fff;
  height: 65px;
  width: 100%;
  
  border: 1px solid #e2e5e6;
  justify-content: space-between;

}

.leftSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.minlogo {
  margin-top: 0.6vw;
  margin-left: 1vw;
  height: 2.8vw;
  width: 2.8vw;
}

.buildingBlocks {
  font-size: 16px;
  color: #4b4b4b;
  margin: 5px;
}

.rightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.dashboard-header-edit {
  margin-top: -109px;
  z-index: 0;
  background: #fff;
  height: 65px;
  border-bottom: 1px solid #e2e5e6;
  margin-bottom: 20vh;
  position: fixed;
  width: 100%;
}

.header-avi {
  height: 50px;
  width: 50px;
  margin: 10px;
  padding: 2px;
}

.header-avi:hover {
  height: 51px;
  width: 51px;
  cursor: pointer;
}
