.body {
  overflow: hidden;
}

.dashboard {
  background: #dbdbdb;
  display: flex;
  border: 2px solid yellow;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  border: 2px solid red;
  height: 100%;
}

.cards {
  display: flex;
  direction: row;
  border: 1px solid blue;
  align-items: center;
}

.changeLabelInstructions {
  font-size: 100%;
  font-weight: 500;
  margin-left: 2px;
}

.changeLabel {
  font-size: 90%;
  font-weight: 500;
  margin-left: 2px;
}

.changeItem {
  height: 2vw;
  width: 25vw;
  font-size: 90%;
  font-weight: 500;
}

.changeItem:focus {
  outline: 0;
}

.dashboard-version {
  background: #e9a800;
  float: right;
  margin-top: 35px;
  margin-right: 35px;
  border: 0;
  height: 25px;
  color: white;
  font-weight: 500;
  box-shadow: 0px 2px 2px #d4d4d4;
  cursor: pointer;
}

.dashboard-version:focus {
  outline: 0;
}

.modifySelection {
  background: #ececec;
  height: auto;
  width: 40vw;
  padding: 2vw;
  cursor: pointer;
}

.modifySelection:hover {
  background: #459de2;
  color: white;
}

.editsFrame {
  width: 50%;
  margin-left: 28vw;
}

.heading {
  padding-bottom: 15px;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}

.dashboard-xp {
  position: absolute;
  display: inline-block;
  background: #fff;
  width: 35%;
  min-width: 325px;
  margin-left: 60%;
  margin-top: 125px;
  height: 304px;
  border-radius: 10px;
  box-shadow: 0px 5px 2px #d4d4d4;
  padding-bottom: 20px;
}

.dashboard-xp-header {
  height: 40px;
  border-bottom: 1px solid #ebeff2;
  line-height: 40px;
  padding-left: 20px;
  font-weight: 500;
}

.help-now {
  background: #e9a800;
  font-weight: 500;
  height: 23px;
  width: 85px;
  color: white;
  border-radius: 4px;
  border-width: 0;
  margin-left: 20px;
  margin-top: 23px;
  text-align: right;
  font-size: 65%;
  cursor: pointer;
}

.help-now:hover {
  background: #f5b40f;
}

.help-now:focus {
  outline-color: #e9a800;
  outline-width: 1px;
}

.help-now img {
  height: 10px;
  width: 10px;
  float: left;
  margin-top: 1px;
  margin-right: 1px;
}
