.dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: #fff;
  height: 65px;
  width: 100%;

  border: 1px solid #e2e5e6;
}

.leftSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.minlogo {
  height: 30px;
  width: 30px;
}

.buildingBlocks {
  font-size: 18px;
  color: #4b4b4b;
  padding: 5px;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-right: 25px;
}

.rightSection button {
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 50px;
  padding: 2px;
}

.header-avi {
  height: 40px;
  width: 40px;
}

.dropDown.active {
  background-color: #fff;
  position: fixed;
  top: 65px;
  right: 30px;

  height: 200px;
  width: 200px;
  border-radius: 0 0 5px 5px;
  display: flex;

  transition: 100ms;
  visibility: visible;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropDown {
  background-color: #f8f9fa;
  position: fixed;
  top: 65px;
  right: 30px;

  height: 0px;
  width: 200px;
  border-radius: 5px;
  display: flex;

  transition: 100ms;
  visibility: hidden;
}

.dropDown button {
  visibility: hidden;
}

.dropDown text {
  visibility: hidden;
}

.dropDown.active text {
  visibility: visible;
  margin-top: 10%;
}

.dropDown.active button {
  visibility: visible;
  width: 100%;
  height: 25%;
  border: 1px solid transparent;
  border: 10px;
  margin: 5px;
  background-color: #e2e5e6;
  margin: 10px;
}


