.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #3c3c3c;
    margin-top: auto;
  }
  
  .footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .blueFooterLinks {
    color: #6aa7f7 !important;
  }
  
  .footerLinks ul {
    color: #ffffff;
    margin: 0px 15px 0px 15px;
  }
  
  .rightFooterContainer ul {
    color: #ffffff;
    margin: 0px 15px 0px 15px;
  }
  
  @media only screen and (max-width: 700px) {
    .blueFooterLinks {
      display: none;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .rightFooterContainer {
      display: none;
    }
  
    .footerLinks ul {
      margin: 0px 5px 0px 5px;
    }
  }
  