@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.memberCardContainer {
  width: 400px;
  height: 360px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 4px;
  margin: 15px 15px 15px 15px;
  padding: 5px;
}

.memberCardTop {
  display: flex;
  flex: 45%;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.memberCardMiddle {
  display: flex;
  flex: 46%;
  margin-bottom: 10px;
}

.memberCardBottom {
  display: flex;
  flex: 4%;
  flex-direction: row;
}

.memberCardImage {
  flex: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.memberCardImage img {
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
}

.memberCardDetails {
  flex: 75%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.memberCardName {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.memberCardDesignation {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px 0px 1px 0px;
  padding: 0px;
  color: #398af5;
}

.memberCardSubheading {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.memberCardBottom img {
  margin: 0px 20px 0px 0px;
  height: fit-content;
}

@media only screen and (max-width: 425px) {
  .memberCardContainer {
    width: 300px;
    height: 320px;
    margin: 10px 10px 10px 10px;
    padding: 5px;
  }

  .memberCardImage img {
    height: 80px;
  }

  .memberCardBottom img {
    height: 15px;
  }
}
