@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.navbarContainer {
  display: flex;
  width: 100vw;
  height: 50px;
  background-color: #ffffff;
}

.navbarLeft {
  display: flex;
  flex: 10%;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.navbarRight {
  display: flex;
  flex: 90%;
  align-items: center;
  justify-content: flex-end;
}

.navbarLinks {
  margin-right: 40px;
}

.navbarLinks .blackNavLinks {
  margin: 0px 10px 0px 10px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.navbarLinks .blueNavLinks {
  margin: 0px 10px 0px 10px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1970e1;
}

.navbarRight img {
  display: none;
}

@media only screen and (max-width: 740px) {
  .navbarLinks a {
    font-size: 13px;
  }
}

@media only screen and (max-width: 700px) {
  .navbarRight img {
    display: flex;
    height: 20px;
    cursor: pointer;
  }

  .blackNavLinks {
    display: none;
  }
}
