.sidebar-body {
  background: #fff;
  box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.06);
  width: 21%;
  height: 100%;
}

.sidebar-title {
  display: flex;
  flex-direction: column;
  color: #e9a800;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  padding-top: 10px;
}

.chat-room-panel {
  display: flex;
  flex-direction: column;
  font-size: 11.5px;
}

.chat-room-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4f4f4f;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  margin: 4px 2px;
}

.chat-room-link:hover {
  color: #e9a800;
}

.chat-room-link-clicked {
  color: #e9a800;
  font-weight: 500;
  padding: 6px 0;
  cursor: pointer;
}

.chat-join-button {
  padding: 4px;
  color: #e9a800;
  background: #fff4d9;
  border-radius: 100px;
  border: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  margin: 3px;
}

.chat-join-button:hover {
  color: white;
  background: #e9a800;
}

.chat-join-button:focus {
  outline-width: 1px;
  outline-color: #e9a800;
}

.chat-room-link-user {
  padding: 6px 0;
  color: #4f4f4f;
  font-weight: 400;
  font-size: 87%;
}

.chat-users-panel {
  margin-top: 10px;
  margin-left: 27px;
  margin-bottom: 10px;
}

.chat-room-link-user-none {
  font-weight: 600;
  color: #828282;
}

@media screen and (min-width: 760px) {
  .sidebar-body {
    background: #fff;
    box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.06);
    width: 20%;
    height: 100%;
  }
  .sidebar-title {
    display: flex;
    flex-direction: column;
    color: #e9a800;
    font-size: 20px;
    font-weight: bold;
    align-items: flex-start;
    margin-left: 5px;
  }
  .chat-room-panel {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }
  .chat-room-link {
    display: flex;
    flex-direction: row;
    color: #4f4f4f;
    cursor: pointer;
    padding: 5px;
    justify-content: space-between;
    text-align: left;
  }
}
