.sidebar-body {
  background: #fff;
  height: 100%;
  width: 10%;

  position: fixed;
  top: 65px;
  left: 0;

  transition: 300ms;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

.sidebar-body.active {
  left: 0px;
  transition: 50ms;
  width: 60%;
}

.sidebar-title {
  display: flex;
  visibility: hidden;
  font-size: 6px;

  margin-top: 0px;
}

.sidebar-title.active {
  display: flex;
  visibility: visible;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;

  color: #4b4b4b;
  letter-spacing: 0.01em;
  margin-left: 12px;
  margin-bottom: 0;
}

.sidebar-title.active img {
  width: 18px;
  height: 18px;
}

.sidebar-title img {
  width: 5px;
  height: 5px;
}

.sidebar-title.active button {
  background: transparent;
  color: transparent;
  text-decoration: none;
  border: 1px solid transparent;
  margin-right: 9px;
  width: 40px;
  height: 40px;
}

.sidebar-title button {
  width: 5px;
  height: 5px;
}

.sidebar-title button:hover {
  background-color: #f6f5f5;
  border: 1px solid #f6f5f5;
  border-radius: 6px;
  width: 40px;
  height: 40px;
}

.chat-room-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.chat-room-panel.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 13px;
  padding: 0 7px;
}

.toggle-container {
  position: fixed;
  top: 92%;
  left: .001%;
  background-color: transparent;
  border: 1px solid transparent;
}

.toggle-sidebar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin-top: 5px;
  margin-left: 10px;
}
.toggle-sidebar img {
  height: 14px;
  width: 14px;
}

.toggle-sidebar text {
  height: 20px;
  width: auto;
  margin: 4px;
  color: #828282;
}

@media screen and (min-width: 770px) {
  .sidebar-body {
    width: 5%;
  }

  .sidebar-body.active {
    width: 22%;
  }

  .toggle-container {
    position: fixed;
    top: 92%;
    left: 12px;
  }

  .toggle-container.active:hover {
    background-color: #f6f5f5;
    border: 1px solid #f6f5f5;
    border-radius: 6px;
    width: 16%;
    height: 40px;
  }
  
  .toggle-container:hover {
    background-color: #f0efef;
    border: 1px solid #ebe8e8;
    border-radius: 6px;
    width: 3%;
    height: 40px;
  }
}
