.logInWithEmail {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    background: #FFFFFF;

}

.rectangleEmail {
    flex: 1;
    background: #4200AD;
}

.rectangleRight {
    padding-top:60px;
}

.rectangleRightEmail {
    flex: 1;
    background: #FFFFFF;
}

.rectangleChoiceRight {
    flex: 1;
    background: #1970E1;
}

.welcomeBackEmail {
    position: absolute;
    left: 0%;
    top: 25%;
    width: 50%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10vw;
    line-height: 130%;
    color: #FFFFFF;
}

.dontHaveAnAccountEmail {
    position: fixed;
    width: 271px;
    height: 31px;
    left: 66%;
    top: 85%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 130%;
    /* or 23px */

    color: #000000;
}

.ellipse {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 1195px;
    top: 331px;
    background: #FFFFFF;
}

.emailLine {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 39%;
    border: 1px solid #000000;
    transform: rotate(0.19deg);
}

.emailInputForm:focus {
    outline: none;
}

.passwordInput {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 39%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #8D8D8D;
}

.confirmPasswordInput {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 51%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #8D8D8D;
}

.passInputForm:focus {
    outline: none;
}

.emailInput {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 27%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #8D8D8D;
}

.emailInput:focus {
    outline: none;
}

.nickInput {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 15%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #8D8D8D;
}

.nickInputForm:focus {
    outline: none;
}


.studentIdInput {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 59%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;

    color: #8D8D8D;
}


input {
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 3%;
    background: transparent;
    font-size: 2vw;
    color: black;
}

.passwordLine {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 51%;
    border: 1px solid #000000;
    transform: rotate(0.19deg);
}

.sign-up-button {
    font-weight: bold;
    color: #4200AD;
}

.nickLine {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 28%;
    border: 1px solid #000000;
    transform: rotate(0.19deg);
}


.studentIdLine {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 64%;
    border: 1px solid #000000;
    transform: rotate(0.19deg);
}


.signupButton {
    position: absolute;
    width: 6vw;
    height: 38px;
    right: 20%;
    top: 75%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    color: white;
    text-align: center;
    line-height: 10%;
    background: #1970E1;
    border-radius: 50px;
    border-color: #1970E1;
    padding: 20px;
    transition: background-color 0.25s ease-out;
}

.signupButton:hover {
    background-color: #FFFFFF;
    color: #1970E1;
}

.landingHeader-login {
    position: fixed;
    width: 100%;
    height: 55px;
    background: white;
    margin: auto;
    vertical-align: middle;
    box-shadow: 0px -1px 5px #888888;
}

.rectangleSignUp a {
    font-size:80%;
    text-decoration: none;
    font-weight: 500;
    color: white;
    vertical-align: middle;
    margin-top:20px;
    margin-right:20px;
    padding-right:30px;
    float:left;
}

.rectangleSignUp a:hover {
    color:#F5E7E7;
}

.App-name-login {
    float:left;
    font-weight: 500;
    font-size:110% !important;
    margin-left:20px;
    margin-top:20px;
}

label {
    padding: 1%;
    color: #4B4B4B;
    font-family: sans-serif;
}

.mentorButton {
    position: fixed;
    width: 13vw;
    height: 50px;
    right: 23%;
    top: 65%;
    color: #076DF2;
    text-align: center;
    padding: 10px;
    font-size: larger;

    border: 2px solid #076DF2;
    box-sizing: border-box;
    border-radius: 50px 0px 0px 50px;
    transition: background-color 0.25s ease-out;
}

.menteeButton {
    position: fixed;
    width: 13vw;
    height: 50px;
    right: 10%;
    top: 65%;
    color: #076DF2;
    text-align: center;
    padding: 10px;
    font-size: larger;

    border: 2px solid #076DF2;
    box-sizing: border-box;
    border-radius: 0px 50px 50px 0px;
    transition: background-color 0.25s ease-out;
}

.mentorMenteeText {
    position: absolute;
    width: 13vw;
    height: 50px;
    right: 13%;
    top: 62%;
    font-size: 1.1vw;
}

.mentorButton:hover {
    background-color: #076DF2;
    color: #FFFFFF;
}

.menteeButton:hover {
    background-color: #076DF2;
    color: #FFFFFF;
}