.logInWithEmail {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    background: #FFFFFF;

}

.rectangleEmail {
    flex: 1;
    background: #4200AD;
}

.rectangleRight {
    padding-top:60px;
}

.rectangleRightEmail {
    flex: 1;
    background: #FFFFFF;
}

.rectangleChoiceRight {
    flex: 1;
    background: #1970E1;
}

.welcomeBackEmail {
    position: absolute;
    left: 0%;
    top: 25%;
    width: 50%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10vw;
    line-height: 130%;
    color: #FFFFFF;
}

.dontHaveAnAccountEmail {
    position: fixed;
    width: 271px;
    height: 31px;
    left: 66%;
    top: 85%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 130%;
    /* or 23px */

    color: #000000;
}

.ellipse {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 1195px;
    top: 331px;
    background: #FFFFFF;
}

.emailLine {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 39%;
    border: 1px solid #000000;
    transform: rotate(0.19deg);
}

.emailInputForm:focus {
    outline: none;
}

.passwordInput {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 39%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #8D8D8D;
}

.confirmPasswordInput {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 51%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #8D8D8D;
}

.passInputForm:focus {
    outline: none;
}

.allInput {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #8D8D8D;
    width: 50%;
    margin: 5% 25%;
}

.emailInput:focus {
    outline: none;
}

.nickInput {
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #8D8D8D;
}

.nickInputForm:focus {
    outline: none;
}


.studentIdInput {
    position: fixed;
    width: 26vw;
    height: 0px;
    right: 10%;
    top: 59%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;

    color: #8D8D8D;
}


input {
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 3%;
    background: transparent;
    font-size: 2vw;
    color: black;
}


.sign-up-button {
    font-weight: bold;
    color: #4200AD;
}



.signupButton {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    color: white;
    text-align: center;
    line-height: 10%;
    background: #1970E1;
    border-radius: 50px;
    border-color: #1970E1;
    padding: 20px;
    transition: background-color 0.25s ease-out;
    margin: 3% 0;
    width: 20%;
    position: relative;
    left: 40%;
}

.signupButton:hover {
    background-color: #FFFFFF;
    color: #1970E1;
}

.landingHeader-login {
    position: fixed;
    width: 100%;
    height: 55px;
    background: white;
    margin: auto;
    vertical-align: middle;
    box-shadow: 0px -1px 5px #888888;
}

.rectangleSignUp a {
    font-size:80%;
    text-decoration: none;
    font-weight: 500;
    color: white;
    vertical-align: middle;
    margin-top:20px;
    margin-right:20px;
    padding-right:30px;
    float:left;
}

.rectangleSignUp a:hover {
    color:#F5E7E7;
}

.App-name-login {
    float:left;
    font-weight: 500;
    font-size:110% !important;
    margin-left:20px;
    margin-top:20px;
}

label {
    padding: 1%;
    color: #4B4B4B;
    font-family: sans-serif;
    text-align: left;
}

.mentorButton {
    color: #076DF2;
    text-align: center;
    padding: 10px;
    font-size: larger;
    border: 2px solid #076DF2;
    box-sizing: border-box;
    border-radius: 50px 0px 0px 50px;
    transition: background-color 0.25s ease-out;
    width: 25%;
    display: inline-block;
    left: 25%;
    position: relative;
}

.menteeButton {
    color: #076DF2;
    text-align: center;
    padding: 10px;
    font-size: larger;
    border: 2px solid #076DF2;
    box-sizing: border-box;
    border-radius: 0px 50px 50px 0px;
    transition: background-color 0.25s ease-out;
    width: 25%;
    display: inline-block;
    left: 25%;
    position: relative;
}

.mentorMenteeText {
    text-align: center;
    font-size: 1.1vw;
    margin: 3%;
}

.mentorButton:hover {
    background-color: #076DF2;
    color: #FFFFFF;
}

.menteeButton:hover {
    background-color: #076DF2;
    color: #FFFFFF;
}

@media (max-width:700px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .signupButton {
        font-size: 2.5vh;
    }

    .mentorMenteeText {
        font-size: 2.5vh;
    }
    
}